body {
  background-color: #525b5d;
}

h1 {
  color : #FFF10D;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  color : #FFF10D;
  text-align: left;
  font-weight: bold;
}

h3 {
  color : #FFF10D;
  text-align: left;
  font-weight: bold;
}

p {
  color : #FFF10D;
  text-align: left;
  font-weight: bold;
}
